server {
        listen 80;

        server_name xsavitsky.devops.srwx.net;

        location / {
                return 301 https://xsavitsky.devops.srwx.net;
		}
}
#server {
#	listen 443 ssl;
	
#	server_name xsavitsky.devops.srwx.net;
#	ssl on;
#	ssl_certificate /etc/letsencrypt/live/xsavitsky.devops.srwx.net/fullchain.pem;
#	ssl_certificate_key /etc/letsencrypt/live/xsavitsky.devops.srwx.net/privkey.pem;
#}
